{% ckan_extends %}

{# You could remove 'free extras' from the package form like this, but we keep them for this example's tests.
  {% block custom_fields %}
  {% endblock %}
#}

{% block package_metadata_fields %}
<div class="control-group">
    <label class="control-label" for="field-semantic_taxonomy_tags">{{ _("Semantic Tags") }}</label>
    <div class="controls">
      <select id="field-semantic_taxonomy_tags" name="semantic_taxonomy_tags" data-module="autocomplete" multiple>
        {% for semantic_taxonomy_tag in h.semantic_taxonomy_tags()  %}
          <option value="{{ semantic_taxonomy_tag }}" {% if semantic_taxonomy_tag in data.get('semantic_taxonomy_tags', []) %}selected="selected"{% endif %}>{{ semantic_taxonomy_tag }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {{ super() }}

{% endblock %}