{% ckan_extends %}

{% block primary_content_inner %}
  {{ super() }}

  {# Use Fanstatic to include our custom JavaScript module.
     A <script> tag for the module will be inserted in the right place at the
     bottom of the page. #}

  {# Apply our JavaScript module to an HTML element. The data-module attribute,
     which can be applied to any HTML element, tells CKAN to initialize an
     instance of the named JavaScript module for the element.
     The initialize() method of our module will be called with this HTML
     element as its this.el object. #}


  <section>
          <h3>WORK IN PROGRESS<br>RML mapping</h3>
          <span style="word-break: keep-all;">
              If you want to, you can start the transformation with the start mapping button.
              Please note that it can take a while. Refresh this page if it takes too long to see the new status.
          </span>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th scope="col">Field</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
                  <tr>
                    <th scope="row" class="dataset-label">Status</th>
                      <td class="dataset-details"><p id="tags_status"></p></td>
                  </tr>
                  <tr>
                    <th scope="row" class="dataset-label">Mapping</th>
                    <td class="dataset-details">
                        <button id="tags_start"
                          onclick="startExecution_tags()" >
                          Start
                        </button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="dataset-label">Graph</th>
                      <td class="dataset-details" id="tags_graph"></td>
                  </tr>
                  <tr>
                    <th scope="row" class="dataset-label">License</th>
                      <td class="dataset-details">{{ pkg.license_title }}</td>
                  </tr>
            </tbody>
          </table>
  </section>

  <script>
// Get and clean the package data
let pgk_tags = '{{ pkg.extras }}'.replaceAll("&#39;", "\"")
  .replaceAll("u\"", "\"")
  .replaceAll("None,", "null,")
  .replaceAll("True,", "true,")
  .replaceAll("False,", "false,");
console.log(pgk_tags);
console.log(JSON.parse(pgk_tags));

// prepare the extra information
var extras_tags = JSON.parse(pgk_tags);
let nomad_id_tags = "dummy";
extras_tags.forEach((e) => {
  if (e.key === "Website") {
    var splits = e.value.split("/");
    nomad_id_tags = splits[splits.length-2] + "/" + splits[splits.length-1];
  }
  });
console.log(nomad_id_tags);

// create the request for the status
var xhr_tags = new XMLHttpRequest();
xhr_tags.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    var json = JSON.parse(this.responseText);
    console.log(json);
    $("#tags_status").html(json.status);
    if (json.targetGraph) {
      $("#tags_graph").html(json.targetGraph);
    }
  }
};
// TODO read if NOMAD or DSMS
function getServiceURL_tags() {
  let port = "";
  let prefix = "tags.";
  if (location.host === "localhost") {
    port = ":8080";
    prefix = "";
  }
  return location.protocol+"//"+prefix+location.host+port;
}
xhr_tags.open("GET", getServiceURL_tags()+"/mapping?id="+nomad_id_tags+"&repository=NOMAD", true);
xhr_tags.send();


/////////////////
// creating the request for starting the execution
function startExecution_tags() {
  $("#tags_start").prop('disabled', true);
  $("#tags_status").html("RUNNING");
  $("#tags_graph").html("");

  var xhr2 = new XMLHttpRequest();
  xhr2.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var json = JSON.parse(this.responseText);
      console.log(json);
      $("#tags_status").html(json.status);
      $("#tags_start").prop('disabled', false);
      if (json.targetGraph) {
        $("#tags_graph").html(json.targetGraph);
      }
    }
    else
      console.log(this);
  };
  xhr2.open("GET", getServiceURL_tags()+"/startExecution?id="+nomad_id_tags+"&repository=NOMAD", true);
  xhr2.send();
}

</script>

<div style="height: 1em;"></div>
{% endblock %}